@model TimeAtten.Framework.Admin.OwnerMultipleList

@{   ViewBag.Title = "Index";
    
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>*@
        @*<th>
            @Html.DisplayNameFor(model => model.PinCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>*@
      @*  <th></th>
    </tr>

@foreach (var item in Model.OwnerModal)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PinCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@


@{
    ViewBag.Title = "Index";
   // string breadcrumbName = "OwnerCreate";
    TimeAtten.Services.Utilities.BreadCrumbList breadcrumbs = ViewBag.BreadCrums;
    string err = "";
    try
    {
        if(TempData["ErrorMessage"].ToString()!=""){err = "Caution ! " + TempData["ErrorMessage"].ToString();}
    }
    catch (Exception ert) { }
 }
@Html.Partial("_header")
<!--close-Header-part-->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    @Html.Partial("_left","OwnerCreate")
    <!-- BEGIN PAGE -->
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
               @{Html.RenderPartial("_breadcrumb", breadcrumbs);}
            <!-- END PAGE HEADER-->



            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <h4><i class="icon-edit"></i>Owners </h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div><div id="err" style="color:#F80606;">
                    @err
                </div>
                <div class="portlet-body">
                    <div class="clearfix">
                        <div class="btn-group">
                            <span class="btn green">
                                
                                @Html.ActionLink("Add New Owner", "Create")
                                <i class="icon-plus"></i>
                            </span>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Tools <i class="icon-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Print</a></li>
                                <li><a href="#">Save as PDF</a></li>
                                <li><a href="#">Export to Excel</a></li>
                            </ul>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered" id="Owner_table_1">
                        <thead>
                            <tr>
                                <th>
                                   Owner Username
                                </th>
                                 
                                <th>
                                   Owner Email
                                </th>  
                                <th>
                                   Company Name
                                </th>                                  
                                
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                
                                var numbersAndWords = Model.Company.Zip(Model.OwnerModal, (w,n) => new { Company = w, Owner = n });
                                
                                foreach (var item in numbersAndWords)
                                {
                                <tr class="">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Owner.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Owner.Email)
                                    </td>  
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company.CompanyName)
                                    </td>
                                    
                                    <td class="edit">
                                        @Html.ActionLink("Edit", "Edit", new { id=item.Owner.id  }) |
                                        @Html.ActionLink("Details", "Details", new {id=item.Owner.id   }) |
                                        @Html.ActionLink("Delete", "Delete", new { id=item.Owner.id   })
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
           @* <h2>Index</h2>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new {  id=item.ApplicationId }) |
                            @Html.ActionLink("Details", "Details", new { id=item.ApplicationId })|
                            @Html.ActionLink("Delete", "Delete", new {  id=item.ApplicationId })
                        </td>
                    </tr>
                }

            </table>*@
        </div>
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
@Html.Partial("_footer")
	
	<script>
	    jQuery(document).ready(function () {
	        // initiate layout and plugins
	        App.setPage("table_editable");
	        App.init();
	    });	  
	</script>