@model IEnumerable<TimeAtten.Models.Online>
@{
    ViewBag.Title = "Index";
    TimeAtten.Services.Utilities.BreadCrumbList breadcrumbs = ViewBag.BreadCrums;
    string err = "";
    try
    {
        if(TempData["ErrorMessage"].ToString()!=""){err = "Caution ! " + TempData["ErrorMessage"].ToString();}
    }
    catch (Exception ert) { }
 }
@Html.Partial("_header")
<!--close-Header-part-->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    @Html.Partial("_left","OnlinePeople")
    <!-- BEGIN PAGE -->
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
               @{Html.RenderPartial("_breadcrumb", breadcrumbs);}
            <!-- END PAGE HEADER-->
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <h4><i class="icon-edit"></i>Online People </h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                 <div id="err" style="color:#F80606;">
                    @err
                </div> 
                <div class="portlet-body">
                    <div class="clearfix">                        
                        <div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Tools <i class="icon-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Print</a></li>
                                <li><a href="#">Save as PDF</a></li>
                                <li><a href="#">Export to Excel</a></li>
                            </ul>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered" id="Owner_table_1">
                        <thead>
                            <tr>
                                <th>
                                   User Id
                                </th>
                                 <th>
                                   User Name
                                </th>
                                <th>
                                   User IP
                                </th>                                                                    
                                <th>
                                   Online Time
                                </th> 
                                
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{                                  
                                foreach (var item in Model)
                                {
                                <tr class="">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td></td>
                                     <td>
                                        @Html.DisplayFor(modelItem => item.ip)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OnlineTime)
                                    </td>       
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
          
        </div>
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
@Html.Partial("_footer")
	
	<script>
	    jQuery(document).ready(function () {
	        // initiate layout and plugins
	        App.setPage("table_editable");
	        App.init();
	    });	  
	</script>


@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OnlinePin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnlineTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OnlinePin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnlineTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@
