@model TimeAtten.Models.UserGroup

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserGroup</legend>

        @Html.HiddenFor(model => model.UserGroupId)

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GroupID)
            @Html.ValidationMessageFor(model => model.GroupID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Permision)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Permision)
            @Html.ValidationMessageFor(model => model.Permision)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
