@model TimeAtten.Framework.Admin.GroupRoleModel 
@{
    ViewBag.Title = "Group role Create";
    TimeAtten.Services.Utilities.BreadCrumbList breadcrumbs = ViewBag.BreadCrums;
    string err = "";
    try
    {
        err = "Caution ! " +TempData["ErrorMessage"].ToString();
    }
    catch (Exception ert) { }
    
}
@Html.Partial("_header")
<!--close-Header-part-->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    @Html.Partial("_left", "OwnerCreate")
    <!-- BEGIN PAGE -->
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            @{Html.RenderPartial("_breadcrumb", breadcrumbs);}
            <!-- END PAGE HEADER-->
            <!-- Form -->
            <div class="portlet box green">
                <div class="portlet-title">
                    <h4><i class="icon-reorder"></i>Permission Group Entry</h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div id="err" style="color: #F80606;">
                    @err
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm(new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                @*<form action="#" class="form-horizontal">*@
                        <h3 class="form-section">Group Role Entry</h3>
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">Group Role Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.groupRole.GroupName, new { @class = "m-wrap span12" })
                                        <span class="help-block">@Html.ValidationMessageFor(model => model.groupRole.GroupName)</span>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">Select Employee</label>
                                    <div class="controls">
                                         @{
                        TimeAtten.Framework.Admin.EmployeeSelect employees = ViewBag.employees;
                        ViewData["employeetype"] = employees.ISelectItems ;
                                        }
                                        @Html.ListBox(
                                            "employeetype", 
                                             employees.EmployeeSelectList as MultiSelectList,
                                            new { data_placeholder = "Choose an Employee..." , @class="chzn-select", multiple="multiple", tabindex="6"} 
                                        )
                                        @*@Html.DropDownListFor(model => model.EmployeeId, employees.EmployeeSelectList, "Select Employee", new { @class = "span12 chosen_category" })
                                        *@
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>              
                         <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">Permission</label>
                                    <div class="controls">
                                         @{
                                            TimeAtten.Framework.Admin.PermissionSelect permissions = ViewBag.permissions;
                                        }
                                        @Html.DropDownListFor(model => model.permission, permissions.PermisionSelectList, "Select Permission", new { @class = "span12 chosen_category" })
                                        
                                       @* <select class="m-wrap span12" id="UserProfile_Gender" name="UserProfile.Gender">
                                            @{ try
                                               { <option 
                                                @if (Model.permission == 777)
                                                {
                                                    string temp = "selected";@temp } 
                                                    value="777">read, write, & execute</option>
                                                <option @if (Model.permission == 000)
                                                        {
                                                            string temp = "selected";@temp } value="000">No Permision</option>
                                                <option @if (Model.permission == 111)
                                                        {
                                                            string temp = "selected";@temp } value="111">execute</option>
                                                <option @if (Model.permission == 222)
                                                        {
                                                            string temp = "selected";@temp } value="222">write</option>
                                                <option @if (Model.permission == 333)
                                                        {
                                                            string temp = "selected";@temp } value="333">write & execute</option>
                                                <option @if (Model.permission == 444)
                                                        {
                                                            string temp = "selected";@temp } value="444">read</option>
                                                <option @if (Model.permission == 555)
                                                        {
                                                            string temp = "selected";@temp } value="555">read & execute</option>
                                                <option @if (Model.permission == 666)
                                                        {
                                                            string temp = "selected";@temp } value="666">read & write</option>
                                                <option @if (Model.permission == 777)
                                                        {
                                                            string temp = "selected";@temp } value="777">read, write, & execute</option>
                                                
                                               }
                                               catch (Exception ee)
                                               { 
                                                  
                                                <option value="000">No Permision</option>
                                                <option value="111">execute</option>
                                                <option value="222">write</option>                                                
                                                <option value="333">write & execute</option>
                                                <option value="444">read</option>
                                                <option value="555">read & execute</option>
                                                <option value="666">read & write</option>
                                                <option value="777">read, write, & execute</option>
                                                
                                               }
                                            }
                                        </select>*@                                        
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="span6 ">

                                <div class="control-group">
                                    <label class="control-label">Select Application</label>
                                    <div class="controls">
                                        @{
                                        TimeAtten.Framework.Admin.UserApplicationSelect userApps = ViewBag.userapplication;

                                        ViewData["basetype"] = userApps.ISelectItems;
                                        }
                                        @Html.ListBox(
                                            "basetype", 
                                             userApps.ApplicationSelectList as MultiSelectList,
                                            new { data_placeholder = "Choose a User Application..." , @class="chzn-select", multiple="multiple", tabindex="6"} 
                                        )
                                     @*   @Html.ListBox("SelectedStuff",new MultiSelectList(ViewBag.userapplication, "Value", "Text", Model.SelectedStuff), new { size = "8" }) 
                                       
                                        @Html.DropDownListFor(model => model.ApplicationId, userApps.ApplicationSelectList, "Select User Application", new { @class = "span12 chosen_category" })                                        
                                         *@ 

                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>   
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">Group Role Description</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(model => model.groupRole.Description, new {rows="3", @class="span6 m-wrap",style="width: 472px;" })
                                        <span class="help-block">@Html.ValidationMessageFor(model => model.groupRole.Description)</span>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="span6 ">
                              
                            </div>
                            <!--/span-->
                        </div>              
                        <div class="form-actions">
                            <button type="submit" value="Create" class="btn blue"><i class="icon-ok"></i>Save</button>
                            @Html.ActionLink("Cancel", "IndexGroup", "GroupApplication", new { @class = "btn" })
                        </div>@*
                                 </form>*@
                    }
                    <!-- END FORM-->
                </div>
                <!-- end form -->
            </div>
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
</div>
@Html.Partial("_footer")
<script >    $(".chzn-select").chosen(); </script> 
<script>
    jQuery(document).ready(function () {
        // initiate layout and plugins
        App.init();
    });
</script>
<script>
    jQuery(document).ready(function () {
        // initiate layout and plugins
        App.setPage("table_editable");
        App.init();
    });
</script>
<script>
    jQuery(document).ready(function () {

        // to fix chosen dropdown width in inactive hidden tab content
        $('.advance_form_with_chosen_element').on('shown', function (e) {
            App.initChosenSelect('.chosen_category:visible');
        });

        // initiate layout and plugins
        App.init();
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
@*@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User_Application</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicationId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApplicationId)
            @Html.ValidationMessageFor(model => model.ApplicationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicationName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApplicationName)
            @Html.ValidationMessageFor(model => model.ApplicationName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
