@model TimeAtten.Models.RELIGIONS
@{
    ViewBag.Title = "Religion Delete";
    TimeAtten.Services.Utilities.BreadCrumbList breadcrumbs = ViewBag.BreadCrums;
    string err = "";
    try{
     err="Caution ! "+TempData["ErrorMessage"].ToString();
    }catch(Exception ert){}
}
@Html.Partial("_header")
<!--close-Header-part-->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    @Html.Partial("_left", "OwnerCreate")
    <!-- BEGIN PAGE -->
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            @{Html.RenderPartial("_breadcrumb", breadcrumbs);}
            <!-- END PAGE HEADER-->
            <!-- Form -->
            <div class="portlet box green">
                <div class="portlet-title">
                    <h4><i class="icon-reorder"></i>Religion Delete</h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div id="err" style="color:#F80606;">
                    @err
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm(new { @class = "form-horizontal" }))
                    {
                        @Html.ValidationSummary(true)
                        @*<form action="#" class="form-horizontal">*@
                        <h3 class="form-section">Are you sure you want to delete this?</h3>
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">Religion Code</label>
                                    <div class="controls">
                                          <span class="text">@Model.Relig_Code</span>                                       
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="span6 ">
                                <div class="control-group">
                                   <label class="control-label">Religion Name</label>
                                    <div class="controls">
                                          <span class="text">@Model.Description</span>                                       
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>                        
                        <div class="form-actions">
                            <button type="submit" value="Delete" class="btn blue"><i class="icon-ok"></i>Delete</button>
                            @Html.ActionLink("Cancel", "Index", "Religion", new { @class = "btn" })                           
                        </div>@*
                                 </form>*@
                    }
                    <!-- END FORM-->
                </div>
                <!-- end form -->
            </div>
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    </div>

    @Html.Partial("_footer")
    <script>
        jQuery(document).ready(function () {
            // initiate layout and plugins
            App.init();
        });
    </script>
    <script>
        jQuery(document).ready(function () {
            // initiate layout and plugins
            App.setPage("table_editable");
            App.init();
        });
    </script>
    <script>
        jQuery(document).ready(function () {

            // to fix chosen dropdown width in inactive hidden tab content
            $('.advance_form_with_chosen_element').on('shown', function (e) {
                App.initChosenSelect('.chosen_category:visible');
            });

            // initiate layout and plugins
            App.init();
        });
    </script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

@*@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RELIGIONS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Relig_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Relig_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EditedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EditedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EditedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EditedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}*@
